.margenTop{
    margin-top: 2rem;
}
.anchoImg{
    padding-top: 3rem;
    width: 60%;        
}
.separador{
    border-left: solid black 3px;
    height: 90vh;
}

.botonDeco{
    border: 2px solid whitesmoke;
}

