.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.nav li a {
    padding: 10px;
    cursor: pointer;
    font-size: large;
    text-decoration: none;
    color: brown;
    text-decoration: none;
}

.nav li a:hover {
    font-size: larger;
}

.nav-active {
    font-weight: bold;
}

