.ajusteImg{
    height: 20%;
    width: 20%;
}

.centrado{
    margin-left: 37%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}