.margenBotones{
    margin-left: 8.5rem;   
}
.margenAgregar{
    margin-left: 7rem;
}

.margenInput{
    margin-left: 5.5rem;
}

.ajusteImgBoton{
    height: 70%;
    width: 70%;
}

.ajustesInput{
    text-align: center;
}