.margen{
    margin-left: 4rem;
    margin-bottom: 1rem;
}
.margenAgregar{
    margin-left: 5rem;
}

.margenInput{
    margin-left: 4rem;
}

.ajusteImgBoton{
    height: 70%;
    width: 70%;
}

.ajustesInput{
    text-align: center;
}